#main {
  margin: auto;
  width: 100%;
}

#sidebar {
  box-sizing: border-box;
  width: 30%;
  min-height: 100vh;
  /* background: red; */
  border-right: 10px solid #c8c0ac;
  float: left;
}

#page-wrap {
  width: 70%;
  /* background: #0f0; */
  min-height: 95vh;
  float: left;
}

.clear:after {
  clear: both;
  display: table;
  content: "";
}
